<div class="col-md-6" ng-controller="ContaCtrl">
<!-- Form Familia -->
<div class="box box-primary">
<div class="box-header">
  <h3 class="box-title">Adicionar Conta Bancária </h3>
</div><!-- /.box-header -->
<!-- form start -->
<form role="form" name="newBanco">
  <div class="box-body">
    <div class="form-group">
      <label for="numero">Número</label>
      <input id="numero" type="text" class="form-control" autofocus  ng-model="conta.numero" placeholder="Número" autofocus required>
    </div>
    <div class="form-group">
      <label for="numero">Saldo inicial</label>
      <input id="numero" type="text" class="form-control" autofocus  ng-model="conta.saldoInicial" placeholder="Saldo R$" autofocus required>
    </div>
      <div class="form-group">
      <label for="agencia">Banco</label>
      <select class="form-control" ng-model="conta.banco" >
        <option ng-repeat="banco in bancos" value="{{banco.id}}">{{banco.nome}}</option>
      </select>
    </div>
  <div class="box-footer">
    <button type="submit" class="btn btn-block btn-success" ng-click="createConta()" ng-disabled="newBanco.$invalid">Adicionar</button>
    <button type="reset" class="btn btn-block btn-danger"  ng-click="voltar()">Voltar</button>
  </div>
</form>
</div>
</div>