<div class="register-box" ng-controller="RegisterCtrl">

      <div class="register-logo">
        <a href=""><b>Controle</b> Financeiro Familiar</a>
      </div>

      <div class="register-box-body">
        <p class="login-box-msg">Registrar novo usuário</p>
        
        <form >

         <div class="form-group has-feedback">
            <input type="text" class="form-control" placeholder="Nome" ng-model="register.nome"/>
            <span class="glyphicon glyphicon-user form-control-feedback"></span>
        
          </div>

          <div class="form-group has-feedback">
            <input type="text" class="form-control" placeholder="Email" ng-model="register.email"/>
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
          </div>

          <div class="form-group has-feedback">
            <input type="password" class="form-control" placeholder="Password" ng-model="register.password"/>
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
          </div>

          <div class="form-group has-feedback">
            <input type="password" class="form-control" placeholder="Repita o password" ng-model="register.repeatPassword"/>
            <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
          </div>

          <div class="row">
            <div class="col-xs-8">    
            </div><!-- /.col -->
            <div class="col-xs-4">
              <button type="submit" class="btn btn-primary btn-block btn-flat" ng-click="save()">Registrar</button>
            </div><!-- /.col -->
          </div>
        </form>        
        <a href="#/login.html" class="text-center">Já sou cadastrado.</a>
 </div><!-- /.form-box -->
 </div>
   