<div class="col-md-12" ng-controller="RelatorioCtrl">
  <div class="box box-info">
    <div class="box-header">
      <h3 class="box-title">Consultar</h3>
    </div>
    <form role="form" name="relatorioForm">
  <div class="box-body">
    <div class="form-group">
      <label>De:</label>
      <div class="input-group">
        <div class="input-group-addon">
          <i class="fa fa-calendar"></i>
        </div>
        <input id="exampleInput" max="2015-12-31" min="2015-01-01"name="input" ng-model="dataDe" placeholder="yyyy-MM-dd" required type="date"/>
        <!-- /.input group -->
      </div>
      </div><!-- /.form group -->
      <div class="form-group">
        <label>Até:</label>
        <div class="input-group">
          <div class="input-group-addon">
            <i class="fa fa-calendar"></i>
          </div>
          <input id="exampleInput" max="2015-12-31" min="2015-01-01" name="input" ng-model="dataAte" placeholder="yyyy-MM-dd" required type="date"/>
          <!-- /.input group -->
        </div>
        </div><!-- /.form group -->
        <div class="form-group" >
          <label for="agencia">Tipo</label>
          <select class="form-control" required ng-model="consulta.tipo" required>
            <option value="Despesa">Despesas</option>
            <option value="Receitas">Receitas</option>
          </select>
        </div>
        <button class="btn btn-success" ng-click="consultar()" ng-disabled="relatorioForm.$invalid">Consultar</button><br>
      </div>
    </form>
  </div>
  <!-- charts -->
   <span>
    <div class="col-md-6" ng-if="showCharts">
      <div class="box box-info">
        <div class="box-header">
          <h3 class="box-title"> {{consulta.tipo}} / Categoria</h3>
        </div>
          <canvas   id="pie" class="chart chart-pie"chart-data="dataCategorias" chart-labels="labelsCategorias" chart-legend="true">
        </canvas>
      </div>
    </div>
    <div class="col-md-6" ng-if="showCharts">
      <div class="box box-info">
        <div class="box-header">
          <h3 class="box-title"> {{consulta.tipo}} / Conta</h3>
        </div>
        <canvas  ng-if="showCharts"  id="pie" class="chart chart-pie"chart-data="dataContas" chart-labels="labelsConta"  chart-legend="true">
        </canvas>
      </div>
    </div>
    <div class="col-md-6" ng-if="showCharts">
      <div class="box box-info">
        <div class="box-header">
          <h3 class="box-title"> {{consulta.tipo}} / Usuário</h3>
        </div>
        <canvas  ng-if="showCharts"  id="doughnut" class="chart chart-doughnut" chart-data="dataUsuario" chart-labels="labelsUsuario" chart-legend="true">
        </canvas>
      </div>
    </div>

  </span>
  <!-- charts -->
</div>
