<div ng-controller="AuthCtrl">
  <div class="login-box ">
        <div class="login-logo">
             <a href=""><b>Controle</b> Financeiro Familiar</a>
        </div><!-- /.login-logo -->
        <div class="login-box-body">
          <p class="login-box-msg">Login</p>
          <form name='loginForm'>
            <div class="form-group has-feedback">
              <input type="email" class="form-control" placeholder="Email"  required autofocus ng-model="authUser.email"/>
              <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
              <input type="password" class="form-control" placeholder="Password"  required ng-model="authUser.password"/>
              <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="row">
              <div class="col-xs-8">    
              </div><!-- /.col -->
              <div class="col-xs-4">
                <button type="submit" class="btn btn-primary btn-block btn-flat" ng-click="auth(authUser)"    ng-disabled="loginForm.$invalid">Logar</button>
              </div><!-- /.col -->
            </div>
          </form>
          <a href="#/lostPass">Esqueci a senha.</a><br>
          <a href="#/register" class="text-center">Registrar novo usuário.</a>
      </div><!-- /.login-box-body -->
  </div><!-- /.login-box -->
 </div>
 




